<!doctype html>
<html>
	<head>
		<title>Law Office of Robert J. Kennington</title>

		<meta name="Description" content="Law Office of Robert J. Kennington">
		<meta name="Keywords" content="law, law office, Robert J. Kennington, southwest, kansas, southwest kansas, garden city, immigration, criminal, traffic, family, juvenile, offender, civil, litigation, court, appeals, state court, federal court">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700|Droid+Serif:400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" media="screen" href="/static/css/main.css">
		<link rel="shortcut icon" href="/static/images/favicon.ico">
		<link rel="icon" href="/static/images/favicon.ico">
	</head>

	<body>
		<div class="wrapper">
			<div class="header">
				<img class="banner" src="/static/images/drawing.png" alt="Banner">
				<span class="header-name">Robert J. Kennington, Attorney At Law</span>
			</div>

			<div class="nav">
				<ul class="menu">
					<li><a href="/">Home</a></li>
					<li><a href="/profile">Attorney Profile</a></li>
					<li><a href="/areas">Areas of Practice</a></li>
					<li><a href="/directions">Map and Directions</a></li>
					<li><a href="/contact">Contact Us</a></li>
				</ul>
			</div>

			<div class="section">
		        {% block content %}{% endblock %}
			</div>

			<div class="aside">
				Abogado Se Habla Espa&ntilde;ol
			</div>
			<div class="aside">
				<p>
					Call (620) 277-8630
				</p>
				<p>1115 Kansas Plaza #C<br>
					PO BOX 2263<br>
					Garden City, KS 67846<br>
					FAX # (866) 377-6835
				</p>
				<p>
					Hours: Monday-Friday 8-5
				</p>
				<p>
					Evenings and weekends by appointment.
				</p>
			</div>
			<div class="footer">
				<p>
					{{ disclaimer.content }}
				</p>
			</div>
		</div>

	</body>
</html>
