{% extends "kenningtonlaw/base.html" %}

{% block content %}
<div class="article">
	<h1>Now specializing in immigration law</h1>
	<img src="/static/images/RobertChair.png" alt="Picture of office window">
	<p>
		We are here to meet your needs.
	</p>
	<p>
		For over 12 years, attorney Robert J. Kennington, has been an advocate for the client in the courtroom,
		counseling and representing their best interests. He has practiced in eastern, central and now in southwest Kansas.
		He truly knows Kansas.
	</p>
	<p>
		Mr. Kennington has moved his office to a new location at 1115 Kansas Plaza #C, Garden City, Kansas.
	</p>
	<p>
		Set up a free consultation today. Call his office at 620-277-8630
	</p>
</div>
{% endblock %}