{% extends "kenningtonlaw/base.html" %}

{% block content %}
<div class="article">
	<img class="profile-pic" src="/static/images/Robert.jpg" alt="Robert J. Kennington profile picture">
	<p>
		Attorney Robert J. Kennington has over 12 years of hands on legal experience. From day one he has
		been in the courtroom along with meeting clients in his office. He will use that experience to meet your needs.
	</p>
	<p>
		Mr. Kennington started with a firm in 2002. At that firm, he was lead attorney in criminal/traffic, domestic,
		disability and elder law issues. He became their managing attorney for one of the offices. Eventually, he
		started his own practice in Garden City in November	2010.
	</p>
	<p>
		He is licensed to practice in state and the federal court of Kansas. He travels throughout southwest Kansas and more.
	</p>
	<p>
		He has moved offices and will now accept new clients in immigration law. He still can help you with criminal,
		domestic, civil litigation, or appeals with the court.
	</p>
</div>
{% endblock %}